/* Start Frame Work */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --main-color: #ea4020;
    --hover-color: #292929;
    --main-transition: all 1s ease;
    --header-color: #eeeeee5e;
    --header-text-color: #000;
    --header-hight: 80px;
    --Second-Animation: 3s;
}
body{
    font-size: 20px;
    color: #555a64;
    line-height: 1.7;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.hiddenOpacity{
    opacity: 0;
}
.active, i, span, a{
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bottom-ani {
    position: absolute;
    color: #c9c9c93b;
    left: 0;
    right: 0;
    top: -100px;
}
.section{
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}
.centerByFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    opacity: 20%;
}
.placeholder h5{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--hover-color);
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    text-align: center;
    color: transparent;
}

.head h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 40px 0 0 0;
    text-align: center;
}
.head h2 span{
    position: relative;
}
.head h2 span::before,
.head h2 span::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 35px;
    height: 3px;
    background: var(--main-color);
}
.head h2 span::before{
    right: -40px;
}
.head h2 span:after {
    left: -40px;
}

.fill-width:hover{
    color: #000 !important;
}
.fill-width::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    border: 1px solid var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fill-width:hover::before{
    opacity: 1;
    width: 100%;
}


/* End Frame Work */

/* Start Nav Bar */
.navbar{
    z-index: 2;
    width: 100%;
    height: var(--header-hight);
    position: fixed;
    align-content: center;
    background-color: var(--header-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.navbar .navbar-brand{
    font-size: 40px;
    font-family: math;
    letter-spacing: 3px;
    padding: 0 0 0 10px;
    color: var(--header-text-color);
}
li.nav-item {
    padding: 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 4px 2px;
    color: var(--header-text-color);
}
.navbar-expand-lg .navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    right: 0;
    height: 1px;
    background-color: var(--header-text-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
li.nav-item:hover .nav-link::before,
.navbar-nav .nav-link.active::before{
    width: 100%;
    left: 0;
}
.dropdown-item:hover{
    color: #fff !important;
}
a.dropdown-item.active, .dropdown-item:hover, .dropdown-item:focus{
    color: var(--header-text-color);
    background-color: var(--main-color);
}
.navbar-toggler{
    border: none;
}
.bar i{
    font-size: 30px;
    border: 1px solid;
    padding: 5px 10px;
    color: var(--header-text-color);
}
@media(max-width: 992px){
    .navbar-collapse{
        top: var(--header-hight);
        background-color: var(--header-color);
        transition: var(--main-transition);
    }
    li.nav-item{padding: 5px 10px;}
}
@media(max-width: 768px){
    .navbar-collapse{
        padding: 170px 0 0 0;
    }
}
/* End Nav Bar */

/* Start Landing */
.landing{
    height: 100vh;
    padding: 90px 0 0 0;
    align-content: center;
}
.landing .row{
    width: 90%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.landing .placeholderName{
    position: absolute;
    left: 30px;
    opacity: 10%;
    line-height: 1;
    font-size: 80px;
    font-weight: 600;
    font-family: auto;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--hover-color);
}
.landing .social{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.landing .social a{
    font-size: 35px;
}
.landing .name{
    position: relative;
    color: var(--hover-color);
    font-size: 45px;
    font-weight: 700;
    width: fit-content;
}
.landing .name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 3px;
    background: var(--main-color);
}
.landing .p{
    font-size: 17px;
    text-align: justify;
    color: rgba(41, 41, 41, 0.7);
}
.landing .type{
    font-size: 40px;
}
.landing .row a{
    z-index: 0;
    color: #fff;
    padding: 0 35px;
    line-height: 48px;
    font-weight: 600;
    display: inline-block;
    background: var(--main-color);
}
.landing .avatar{
    position: relative;
    padding: 40px;
}
.landing .avatar::before{
    content: "";
    background-image: url(../src/dots-effect-dark.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: left;
    background-size: cover;
    animation: spin 140s linear infinite;
}
.landing .avatar::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 40px;
    width: 200vw;
    border: 20px solid var(--main-color);
    border-radius: 310px;
    background: #fff;
}
.landing .img{
    position: relative;
    left: 40px;
    z-index: 1;
    overflow: hidden;
    border-radius: 50% 50% 0% 50%;
    border: 15px solid var(--hover-color);
}
.landing .img:after {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}
.landing .img img{
    position: absolute;
    right: 20px;
    bottom: -10px;
    width: 70%;
}
.landing .img img::after{
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}
@keyframes spin{
    0%{
        transform:rotate(-360deg) ;
        -webkit-transform:rotate(-360deg) ;
        -moz-transform:rotate(-360deg) ;
        -ms-transform:rotate(-360deg) ;
        -o-transform:rotate(-360deg) ;
    }
}
@media(max-width: 990px){
    .landing .text-start{
        text-align: center !important;
    }
    .landing .avatar{
        display: none;
    }
}
/* End Landing */

/* Start About */
.about{
    background-color: #f7f6ff;
    overflow: unset;
    margin-top: 40px;
}
.about .partOne{
    align-self: center;
}
.about .partOne i:hover{
    background-color: var(--main-color);
    color: #fff;
}
.about .partOne .container{
    text-align: -webkit-center;
}
.about .partOne .container .firstBox{
    width: 150px;
    overflow: hidden;
    justify-content: left;
}
.about .partOne .container .firstBox .boxIcon{
    transition: var(--main-transition);
}
.about .partOne .container .firstBox .willShow {
    opacity: 0;
    margin: 0 0 0 -150px;
}
.about .partOne .container .firstBox .boxIcon i{
    width: 130px;
    margin: 0 10px;
    font-size: 100px;
    border-radius: 20px;
    background-color: #fff;
}
.about .owl-carousel{
    margin: 50px 0;
    font-size: 50px;
    text-align: center;
}
.about .owl-carousel i {
    background-color: #fff;
    padding: 10px;
    border-radius: 25%;
}
.about .box{
    margin: 0 0 40px 0;
}
.about .box .title{
    margin: 20px -15px 20px 0 ;
}
.about .box .title h3{
    position: relative;
    padding: 0 15px;
}
.about .box .title h3::after{
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background: var(--main-color);
}
.about .box h6{
    font-size: 20px;
}
.about .box h6 span{
    border-bottom: 2px solid rgba(41, 41, 41, 0.2);
}
.about .box p{
    color: rgba(41, 41, 41, 0.7);
    text-align: justify;
}
.about .box .nav span{
    font-size: 13px;
    border: 1px solid rgba(41, 41, 41, 0.1);
    padding: 5px 15px;
    margin: 0 5px 5px 0;
    background: #fff;
    color: var(--hover-color);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
/* End About */

/* Start Services */
.services .row{
    margin: 45px 0 0 0;
}
.services .box{
    height: 80%;
    margin: 35px 0;
    padding: 0 15% 30px;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    transition: ease all 0.35s;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}
.services .box:hover{
    border-color: var(--main-color);
}
.services .box:hover .icon{
    top: -15px;
}
.services .box .icon{
    top: -20px;
    width: 80px;
    height: 50px;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    margin: 0 auto 30px;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--main-color);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.services .box .icon::before,
.services .box .icon::after{
    content: "";
    border: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ea4020;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.services .box .icon::before{
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}
.services .box .icon::after{
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}
.services .box .icon i {
    z-index: 1;
    font-size: 40px;
    color: #fff;
}
.services .content h5{
    color: var(--hover-color);
}
/* End Services */

/* Start Experience */
.experience {
    background-color: #f7f6ff;
}
.experience .box ul li{
    padding: 20px 30px;
    margin: 20px 0 40px 0px;
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 65%);
    border: 1px solid #e2e8f0;
    transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    -moz-transition: ease all 0.35s;
    -ms-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.UlExperience li {
    margin: 0 !important;
    box-shadow: none !important;
    border: none !important;
    list-style: disc;
    padding: 10px !important;
}
.experience .box ul li div:nth-of-type(2){
    text-align: left;
    padding: 0 0 0 50px;
}
.experience .box ul li h6{
    z-index: 0;
    color: #fff;
    padding: 8px 14px;
    position: relative;
    background-color: var(--main-color);
}
.experience .box ul li h5{
    font-weight: 600;
    color: var(--hover-color);
}
.experience .box ul li p{
    margin: 0 0 5px 10px;
}
/* End Experience */
/* Start My Portfolio */
.myPortfolio .box{
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.myPortfolio .box .img {
    height: 80vh;
}
.myPortfolio .box:hover .img{
    transform: scale(1.1);
    transition: var(--main-transition);
}
.myPortfolio .box .cover {
    background-color: #000000a3;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 40px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.myPortfolio .box:hover .cover{
    top: 0;
}
.myPortfolio .box .cover h3{
    margin: 50px 0 15px 0;
}
.myPortfolio .box .links{
    position: relative;
    z-index: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.myPortfolio .box .links h3{
    margin: 0;
}
.myPortfolio .box .links a{
    position: absolute;
    bottom: 0;
    font-size: 28px;
    color: #555a64;
}
.myPortfolio .box .links a:nth-of-type(1){
    left: -40px;
}
.myPortfolio .box:hover .links a:nth-of-type(1){
    left: 30px;
}
.myPortfolio .box .links a:nth-of-type(2){
    right: -40px;
}
.myPortfolio .box:hover .links a:nth-of-type(2){
    right: 30px;
}
/* End My Portfolio */
/* Start  Contact Me */
.Contact-Me{
    background-color: #eee;
}
.Contact-Me .title{
    margin-left: -15px;
}
.Contact-Me .title h3{
    position: relative;
}
.Contact-Me .title h3:after{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 2px;
    background: var(--main-color);
}
.Contact-Me .info{
    padding: 12px 40px;
    background: #fff;
    border: 1px solid #e2e8f0;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Contact-Me .info .name {
    margin: 0 0 21px 0;
}
.Contact-Me .info .name p {
    margin: 0;
}
.Contact-Me .info .social a{
    margin: 0 15px;
    font-size: 40px;
}
.Contact-Me .form{
    background: #fff;
    padding: 50px 30px;
    border: 1px solid #e2e8f0;
    height: 100%;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Contact-Me .form .group{
    margin-bottom: 20px;
}
.Contact-Me .form .group .input{
    box-shadow: none !important;
    font-size: 15px;
}
.Contact-Me .form .send button{
    padding: 0 35px;
    line-height: 48px;
    border: none;
    font-weight: 600;
    position: relative;
    z-index: 1;
    box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Contact-Me .form .send button::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    left: auto;
    z-index: -1;
    background-color: var(--hover-color);
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
}
.Contact-Me .form .send button:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}
/* End Contact Me */
/* Start Footer */
.footer{
    padding: 12px 0;
}
.footer .nav a {
    margin: 0 10px;
}
.footer p {
    margin: 0;
}
.footer p a, .footer i{
    border-bottom: 1px solid ;
    color: #555a64;
}
.footer p a:hover, .footer i:hover{
    color: var(--main-color);
}
.footer .my-2 {
    text-align: right;
}
@media(max-width: 768px){
    .footer .nav{justify-content: center !important;}
    .footer .my-2 {text-align: center;}
}
/* End Footer */
/* Start Arrow Up */
.up{
    position: fixed;
    z-index: 6;
    bottom: 20px;
    right: 40px;
    font-size: 40px;
    transition: var(--main-color);
    -webkit-transition: var(--main-color);
    -moz-transition: var(--main-color);
    -ms-transition: var(--main-color);
    -o-transition: var(--main-color);
    display: none;
}
.up i:hover{
    color: #FFF;
    border-radius: 50%;
    background-color: var(--main-color);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
}
/* End Arrow Up */

/* Start Animation */
.RightToLeft{
    animation: RightToLeft var(--Second-Animation)ease-in-out;
    -webkit-animation: RightToLeft var(--Second-Animation)ease-in-out;
    /*transform: translate(-1000px);
    transition: var(--Second-Animation);
    animation-timing-function: ease-in-out;
    */
}
@keyframes RightToLeft {
    0%{
        transform: translate(-1000px);
        -webkit-transform: translate(-1000px);
        -moz-transform: translate(-1000px);
        -ms-transform: translate(-1000px);
        -o-transform: translate(-1000px);
    }
    50%{
        transform: translate(50px);
        -webkit-transform: translate(50px);
        -moz-transform: translate(50px);
        -ms-transform: translate(50px);
        -o-transform: translate(50px);
    }
    100%{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

.LeftToRight{
    animation: LeftToRight var(--Second-Animation) ease-in-out ;
    -webkit-animation: LeftToRight var(--Second-Animation) ease-in-out ;
}
@keyframes LeftToRight {
    0%{
        transform: translate(1000px);
        -webkit-transform: translate(1000px);
        -moz-transform: translate(1000px);
        -ms-transform: translate(1000px);
        -o-transform: translate(1000px);
    }
    50%{
        transform: translate(-50px);
        -webkit-transform: translate(-50px);
        -moz-transform: translate(-50px);
        -ms-transform: translate(-50px);
        -o-transform: translate(-50px);
    }
    100%{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

.Down{
    transform: translateY(1000px);
    opacity: 0;
}
.DownToTop{
    opacity: 1;
    animation: DownToUp var(--Second-Animation) ease-in-out forwards ;
    -webkit-animation: DownToUp var(--Second-Animation) ease-in-out forwards ;
}
@keyframes DownToUp {
    0%{
        opacity: 0;
        transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
        -moz-transform: translateY(1000px);
        -ms-transform: translateY(1000px);
        -o-transform: translateY(1000px);
    }
    50%{
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
/* End   Animation */