/* Start Our FrameWork */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.table{
    height: 100%;
    display: table;
}
.table-row{
    display: table-row;
    display: table-cell;
    vertical-align: middle;
}
.upper{
    text-transform: uppercase;
}
.main-color{
    color: #f7600e;
}
.main-background{
    background-color: #f7600e; 
}
.overlay{
    background: rgba(49,55,61, .9);
    width: 100%;
    height: 100%
}
.hidden{
    display: none;
}
img{
    width: 100%;
}
.container{
    margin: auto;
    position: relative; 
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 768px) {
    .grid-template{
        display: block;
    }
}

/* ::-webkit-input-placeholder{
    font-size: 14px;
}
::-moz-input-placeholder{
    font-size: 14px;
}
::-ms-input-placeholder{
    font-size: 14px;
} */
/* End Our FrameWork */

/* Start Header */
.header{
    background: url(../image/cover.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
}
.header .navbar{
    overflow: hidden;
    padding: 20px 0px; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;  
}
.header .navbar .logo{
    font-size: 40px;
}
.header .navbar .links i {
    color: #FFF;
    font-size: 50px;
}
.header .navbar .links {
    position: relative;
    float: right;
    text-transform: capitalize;
}
.header .navbar .links ul{    
    padding: 0px;
    display: none;
    position: fixed;    
    list-style: none;
    min-width: 200px;    
    background-color: #f6f6f6e3;
    margin: 15px 0px 0px -175px;
}
.header .navbar .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6e3 transparent;
    position: fixed;
    right: 5px;
    margin: -20px 76px 0px 0px;
}
.header .navbar .links:hover ul{
    display: block;
}
.header .navbar .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .navbar .links ul li a:hover{
    padding-left: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.header .intro{
    margin: auto;
}
.header .intro h1,
.header .intro p,
.header .buttons,
.navbar .logo span,
.header .navbar .links i{
    background-color: transparent;
}
.header .intro h1{
    margin: 0px;
    font-size: 50px;
    font-weight: 800;
}
.header .intro p{
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 20px;
}
.header .buttons button{
    background-color: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    border-radius: 10px;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    
}
.header .buttons button:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
    cursor: pointer;
}
.header .arrow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}
.header .arrow i{
    border: 2px solid #7b7b7b;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 32px;
}
.header .arrow i:hover{
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #fff;
    cursor: pointer;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.header .arrow .fa-chevron-up{
    border: 2px solid #f7600e ;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #f7600e;
}
/* End Header */

/*Start Features*/
.features{
    padding: 80px 0px;
}
.features .box img{
    width: 120px;
    transition: all .5s ease-in-out;
}
.features .box img:hover{
    cursor: pointer;
    background-color: #f7600e5c;
}
.features .box h3{
    text-transform: uppercase;
    font-weight: normal;
}
.features .box p{
    line-height: 2;
    color: #888;
    text-transform: capitalize ;
}
/*End Features*/

/*Start Subscribe*/
.subscribe{
    background: url('../image/cover.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover; 
}
.subscribe form{
    padding: 100px 0px;
    width: 700px;
    margin: auto;
    text-align: center;
}
.subscribe form input[type="email"]{
    padding: 0px 10px;
    width: 320px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 36px;
    line-height: 37px;
    background-color: #ffffff0f;
    color: white;
    border: 2px solid #f7600e;
}
.subscribe form button{
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}
/*End Subscribe*/

/*Start civilization*/
.civilization {
    padding: 50px 0px;
}
.civilization h2{
    font-size: 35px;
}
.civilization img {
    width: 100%;
    height: 100%;
    margin: 5px;
}
.civilization .show-more{
    color: #555;
    width: 180px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all .5s ease-in-out;
}
.civilization .show-more:hover{
    background-color: #f7600e;
    color: #fff;
}
.civilization .items-box{
    overflow: hidden;
}
.civilization .items-box .item{
    height: 403px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.civilization .items-box .item:hover .over{
    display: block;
}
.civilization .items-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(247 96 14 / 70%);
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: none;
}
.civilization .items-box .item .over h4 {
    margin-top: 50px;
}
.civilization .items-box .item .over p{
    line-height: 2;
    text-transform: capitalize;;
}
.civilization .items-box .item .over button{
    background-color: transparent;
    border: 1px solid #fff;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
}
.civilization .items-box .item .over button:hover{
    background-color: #fff;
    color: #f7600e;
    cursor: pointer;
}
/*End civilization*/

/* Start Elders */
.elders .client{
    padding: 50px 0 ;
    color:#fff;
    font-size: 20px;
}
.elders .client img{
    width: 800px;
    height: 400px;
}
.elders .client p{
    line-height: 2;
    font-style: italic;
    text-transform: capitalize;
}
.elders .client span{
    text-transform: uppercase;
    color: #f7600e;
}
.elders .fa-chevron-right,
.elders .fa-chevron-left{
    position: absolute;
    top: 50%;
    color: #999;
    
}
.elders .fa-chevron-right:hover,
.elders .fa-chevron-left:hover{
    cursor: pointer;
    color: #f7600e;
}
.elders .fa-chevron-right{
    right: 0;
}
.elders .fa-chevron-left{
    left: 0;
}
/* End Elders */

/* Start Our Team */
.our-team{
    padding: 50px 0;
}
.our-team h2{
    font-size: 35px;
}
.our-team .main{
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}
.our-team .the-team{
    overflow: hidden;
    color: #888;
}
.our-team .the-team .person:hover {
    color: #555;
}
.our-team .the-team .person:hover img{
    filter: none;
    -webkit-filter:grayscale(0);
}
.our-team .the-team .person:hover .fa-facebook {
    background-color: #3b5998;
}
.our-team .the-team .person:hover .fa-twitter {
    background-color: #55acee;
}
.our-team .the-team .person:hover .fa-google-plus{
    background-color: #dc4e41;
}
.our-team .the-team .person img{
    height: 290px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: gray;
    -webkit-filter: grayscale(1);
}
.our-team .the-team .social-icons i{
    background-color: rgb(136, 136, 136);
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
}
/* End Our Team */

/* Start Contact */
.contact {
    background: url(../image/CoverPass4.jpg);
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;
}
.contact .overlay{
    padding: 50px 0;
    color: #fff;
}
.contact h2{
    font-size: 35px;
}
.contact form{
    width: 700px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}
.contact form input[type="text"],
.contact form input[type="email"]{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.contact form input[type="text"]{
    float: left;
}
.contact form input[type="email"]{
    float: right;
}
.contact form textarea{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.contact form .info{
    overflow: hidden;
    margin-top: 10px;
}
.contact form .info button{
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}
.contact form .info .form-icons{
    float: right;
}
.contact form .info .form-icons i {
    background-color: rgb(136, 136, 136);
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
}
.contact form .info .form-icons .fa-facebook {
    background-color: #3b5998;
}
.contact form .info .form-icons .fa-twitter {
    background-color: #55acee;
}
.contact form .info .form-icons .fa-google-plus{
    background-color: #dc4e41;
}
/* End Contact */

/* Start Footer */
.footer{
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}
.footer .copyright{
    float: left;
}
.footer .design{
    float: right;
}
.footer .design a{
    color: white;
}
.footer .design a:hover{
    color: #f7600e;
}
/* End Footer */