/* Start FrameWork */
:root {
    --main-color: #fff;
    --hover-color: #beae59;
    --main-padding: 100px 0;
    --main-transition: 3s;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    position: relative;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

i{
    color: var(--hover-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
.centerByFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    text-align: center;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clearfix{
    clear: both;
}
.hidden{
    display: none;
}
.active{
    color: var(--hover-color);
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
/*
.container {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
} 
@media (min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1320px
    }
}
*/


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: var(--main-color);
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: var(--hover-color);
}
/* End Frame Work */

/* Start Page Tools */
body{
    color: #444;
    margin: 0 auto;
    font-size: 12px;
    line-height: 26px;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.title {
    margin-bottom: 3rem;
    text-align: center;
}

.button {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 0.8rem 2.4rem 0.9rem 2.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.button:hover{
    color: #fff !important;
    background-color: var(--hover-color);
}
.smooth {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;    
}
.hv-light:before, 
.hv-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
.hv-light:before{
    right: 0;
    bottom: 0;
    background: none;
    -webkit-transition: all 1.25s ease-in-out;
    -moz-transition: all 1.25s ease-in-out;
    -o-transition: all 1.25s ease-in-out;
    -ms-transition: all 1.25s ease-in-out;
    transition: all 1.25s ease-in-out;
}
.hv-light:after {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: 1.25s ease-in-out;
    -moz-transition: 1.25s ease-in-out;
    -ms-transition: 1.25s ease-in-out;
    -o-transition: 1.25s ease-in-out;
    transition: 1.25s ease-in-out;
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.hv-light:hover:after {
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.hv-border {
    width: 100%;
    background: #000;
    display: inline-block;
}
.hv-border:before, 
.hv-border:after {
    bottom: 20px;
    content: "";
    left: 20px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
    -o-transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
    transition: opacity 0.45s ease 0s, transform 0.45s ease 0s;
    z-index: 1;
}
.hv-border:before {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}
.hv-border:after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}
.hv-border:hover:before, 
.hv-border:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.hv-border img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.45s ease 0s;
    -o-transition: opacity 0.45s ease 0s;
    transition: opacity 0.45s ease 0s;
}
.hv-border:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.hv-border-inline {
    display: inline-block;
    position: relative;
}
.hv-border-inline:before, 
.hv-border-inline:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    opacity: 0;
}
.hv-border-inline:before {
    top: 50%;
    bottom: 50%;
    left: 4px;
    right: 4px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}
.hv-border-inline:after {
    top: 4px;
    bottom: 4px;
    left: 50%;
    right: 50%;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
}
.hv-border-inline:hover:before {
    opacity: 1;
    top: 4px;
    bottom: 4px;
}
.hv-border-inline:hover:after {
    opacity: 1;
    left: 4px;
    right: 4px;
}

a.hv-radial{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.5s;
    transform: perspective(1px) translateZ(0);
}
.hv-radial:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    transform: scale(0);
    transition-duration: 0.75s;
    transition-property: transform;
    transition-timing-function: ease-out;
    background: rgba(255, 255, 255, 0.4);
}
.hv-radial:hover:before {
    transform: scale(2);
    z-index: 1;
}
/* End Page Tools */

/* Start Setting */
.setting{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    border: 1px solid #eee;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.setting.open{
    left: 0;
}
.setting .toggle{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.setting .toggle .fa-gear{
    width: 30px;
    padding: 8px 0;
}
.setting .option {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
}
.setting .option h4{
    margin: 0;
    color: #666;
    font-size: 14px;
}
.setting .option .color-list{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.setting .option .color-list li{
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    border: 3px solid transparent;
}
.setting .option .color-list li .active{
    border-color: #fff;
}
.setting .option .color-list li:first-child{
    background-color: var(--hover-color);
}
.setting .option .color-list li:nth-child(2){
    background-color: #d9b700;
}
.setting .option .color-list li:nth-child(3){
    background-color: #ccc394;
}
.setting .option .color-list li:nth-child(4){
    background-color: #484223;
}
.setting .option .color-list li:nth-child(5){
    background-color: #13b5e6;
}
.setting .option .yes,
.setting .option .no{
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.setting .option span.active{
    opacity: 1;
}
.setting .reset-option{
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* End Setting */

/* Start header */
.header{
    background-color: #eee;
    position: relative;
}
.header .top {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.header .top a{
    color: #444;
}
.header .top i {
    color: #000;
}
.header .top a.dropdown-toggle::after{
    border-top: 5px solid;
    border-left: 4px solid transparent;
    border-right: 5px solid transparent;
}
.header .top .header-user > ul > li {
    display: inline-block;
    margin-right: 25px;
}
.header .top .header-user .dropdown-menu li{
    padding: 0 20px;
}
.header .top .header-hotline {
    text-align: right;
}
.header .top .header-hotline .item {
    display: inline-block;
    margin: 0 0 0 25px;
}
.header .top .header-hotline .item a span {
    font-weight: 700;
}
.header .header-center .search-form{
    margin: 0 0 0 20px;
}
.header .header-center .search-form .search-form-btn {
    border: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: var(--hover-color);
}
.header .header-center .search-form .search-form-btn i {
    color: #fff;
}
.header .header-center .search-form form .icon,
.header .header-center .search-form form input,
.header .header-center .search-form form button{
    height: 50px;
}
.header .header-center .search-form form .icon {
    border-right: none;
    background-color: #fff;
    border: 1px solid var(--hover-color);
}
.header .header-center .search-form form input {
    padding: 0 0 0 20px;
    border: 1px solid var(--hover-color);
}
.header .header-center .search-form form button[type='submit'] {
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: var(--hover-color);
}
.header .header-center .shipping{
    position: relative;
}
.header .header-center .shipping:before {
    content: "";
    position: absolute;
    left: 26%;
    top: 0;
    width: 1px;
    bottom: 0;
    background: #a7a6a6;
}
.header .header-center .shipping .shipping-info {
    color: #999;
    padding-left: 12px;
}
.header .header-center .shipping .shipping-info .shipping-title {
    margin: 0;
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: "Lobster";
}
.header .header-center a p{
    font-weight: 700;
    margin: 0;
}
.header .header-center .cart .cart-box {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--hover-color);
}
.header .header-center .cart .cart-box::after{
    display: none;
}
.header .header-center .cart .shopping-cart {
    text-align: left;
    position: absolute;
    margin: 0;
    min-width: 120px;
    left: auto;
    border-radius: 0;
    right: 0;
    width: 320px;
    font-size: 12px;
    top: calc(100% + 25px);
    padding-top: 15px;
    background-color: transparent;
    border: none;
    box-shadow: unset;
    transition: all 0.2s ease-in-out;
}
.header .bottom{
    background-color: rgba(0, 0, 0, 0.64);
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -50px;
}
.header .bottom li a {
    font-size: 14px;
    font-weight: 700;
    padding: 16px 26px;
    color: #FFF !important;
}
.header .bottom li a:hover,
.header .bottom li a.active{
    background-color: var(--hover-color);
}
.header .bottom li a:hover i{
    color: #FFF;
}
.header .bottom .p1 .links li:last-child{
    margin: 0 auto;
}
.header .bottom .p1 .links li a.active i {
    color: #FFF;
}
.header .bottom .p2 ul{
    height: 50px;
    background-color: rgba(41, 42, 43, 0.64);
}
.header .bottom .p2 ul li a{
    padding: 16px 12px;
}
.header .bottom .phone-menu{
    display: none;
}
.header .phone-menu {
    position: absolute;
    left: 10%;
    padding: 12px 20px;
    background-color: var(--hover-color);
}
.header .phone-menu i{
    color: #FFF;
}
@media (max-width: 992px){
    .header .top .p2 {
        display: none !important;
    }
    .header .header-center .search-form form{
        display: none;
    }
    .header .header-center .search-form .search-form-btn{
        display: block;
    }
    .header .header-center .shipping:before{
        left: 20%;
    }
    .header .bottom li a{
        padding: 16px 10px;
    }
}
@media (max-width: 768px){
    .header .header-hotline {
        display: none !important;
    }
    .header-center .container {
        display: block;
    }
    .header-center .img,
    .header .header-center .shipping{
        width: 100%;
        padding: 10px 30px;
        margin: 10px 0;
        text-align: center;
        background-color: #fff;
        border: 1px solid #beae59;
    }
    .header .header-center .search-form{
        margin: 0;
    }
    .header .header-center .search-form .search-form-btn{
        display: none;
    }
    .header .header-center .search-form form{
        display: flex;
    }
    .header .header-center .shipping{
        justify-content: flex-start;
    }
    .header .header-center .shipping:before{
        display: none;
    }
    .header .header-center .cart .cart-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .header-center .cart a p.quantity{
        margin: 0 20px;
    }
    .header .bottom .p1{
        display: none;
    }
    .header .bottom .phone{
        justify-content: right;
    }
    .header .bottom .phone-menu{
        display: block;
    }
}
/* End header */

/* Start landing */
.landing .img img{
    height: 100vh;
}
.landing .slider:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}
.landing .slider-info {
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 10px;
}
.landing .slider-info .small-title {
    display: inline-block;
    margin: 0;
    font-size: 4.8em;
    font-weight: 700;
    margin-right: 2.5rem;
    color: var(--hover-color);
}
.landing .slider-info .small-desc {
    font-size: 16px;
    max-width: 175px;
    text-align: left;
    font-weight: 700;
    padding-left: 2.5rem;
    display: inline-block;
    border-left: 1px solid #ddd;
}
.landing .slider-info .big-title {
    font-size: 8.4em;
    font-weight: 700;
}
.landing .owl-nav button.owl-next,
.landing .owl-nav button.owl-prev{
    position: absolute;
    top: 42%;
    color: #FFF;
    font-size: 200px;
}
.landing .owl-nav button.owl-next{
    right: 10%;
}
.landing .owl-nav button.owl-prev{
    left: 10%;
}
/* End Landing */

/* Start deal */
.deal{
    background-color: #eee;
}
.deal .container{
    position: relative;
    z-index: 3;
    padding: 0;
    margin-top: -90px;
}
.deal .title {
    font-size: 20px;
    margin: 0;
    padding: 30px;
    border-bottom: 1px solid #d2c68b;
    text-transform: uppercase;
}
.deal .price{
    font-size: 16px;
    color: #e12f2f;
    font-weight: 700;
}
.deal .price .old {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 400;
}
.deal .day,
.deal .offer,
.deal .popular{
    height: 500px;
    background-color: #fff;
}
.deal .day{
    color: #fff;
    background-color: var(--hover-color);
}
.deal .day .desc {
    padding: 10px 20px;
}
.deal .day p {
    line-height: 22px;
    margin-bottom: 40px;
}
.deal .day ul li{
    width: 50%;
    float: left;
}
.deal .day ul li a h5{
    text-align: center;
    position: absolute;
    font-size: 12px;
    right: 0;
    left: 0;
    top: 0;
}
.deal .offer{
    position: relative;
    padding: 32px;
}
.deal .offer .timer{
    position: absolute;
}
.deal .offer .timer .countdown .box{
    padding: 10px;
    text-align: center;
    border-bottom: none;
    border: 1px solid #ddd;
}
.deal .offer .timer .countdown .box:last-child{
    border: 1px solid #ddd;
}
.deal .offer .timer .countdown .box .time {
    line-height: 1.5;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--hover-color);
}
.deal .slid .owl-theme .owl-nav{
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 30px;
    color: #000;
}
.deal .slid .owl-nav button.owl-next,
.deal .slid .owl-nav button.owl-prev{
    border: 1px solid var(--hover-color);
    padding: 0 5px !important;
    font-weight: normal;
    margin: 0 5px;
}
.deal .product .img {
    max-width: 330px;
    margin: 0 auto;
}
.deal .product .name{
    font-weight: 700;
    text-transform: uppercase;
}
.deal .product .new{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    padding: 2px 9px 0px 8px;
    background-color: #03a9f4;
    border-bottom-left-radius: 0;

}
.deal .product .new:before {
    content: "";
    position: absolute;
    left: -1.5px;
    top: calc(100% + 1px);
    transform: rotate(90deg);
    border-bottom: 5px solid #03a9f4;
    border-right: 8px solid transparent;
}
.deal .popular{
    border-left: 1px solid #ddd;
}
.deal .popular .title {
    border-bottom: 1px solid #ddd;
}
.deal .popular .desc .big-box{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.deal .popular .desc .big-box .img{
    margin: 0 20px;
    border: 1px solid #ddd;
}
.deal .popular .desc .big-box .box .name{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
@media(max-width: 991px){
    .deal .product .img{
        margin: 70px 0 90px 70px;
    }
}
@media (max-width: 767px){
    .deal .popular{
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 40px 0 0 0;
    }
    .deal .product .img {
        margin: 0 0 60px 50px;
    }
    .deal .popular .title{
        text-align: left;
    }
    .deal .popular .desc .big-box{
        justify-content: left;
    }
}
@media (max-width: 576px){
    .deal .container{
        display: block;
    }
    .deal .product .img{
        margin: 0 auto;
    }
}
/* End Deal */

/* Start Banner */
.banner .box {
    padding: 0;
}
.banner .box img{
    width: 100%;
}
@media (max-width: 767px) {
    .banner{
        margin: 530px 0 0 0px;
        z-index: 3;
        position: relative;
    }
}
/* End Banner */

/* Start Featured */
.featured{
    margin: 100px 0;
}
.featured .title > span {
    display: inline-block;
    padding: 5px 0;
    font-weight: 700;
    color: var(--hover-color);
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.featured .title > span > span {
    font-weight: 400;
    color: #444;
}
.featured .slid .box{
    text-align: center;
    border: 1px solid #ddd;
}
.featured .slid .box .img{
    position: relative;
    height: 280px;
}
.featured .slid .box .img .a-img{
    display: block;
}
.featured .slid .box .img .quickview{
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    top: 0;    
    left: calc(50% - 20px);
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.featured .slid .box .img:hover .quickview {
    opacity: 1;
    top: calc(50% - 20px);
}
.featured .slid .box .img .a-img:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}
.featured .slid .box .img:hover .a-img:before {
    opacity: 1;
}
.featured .slid .box .info .name{
    font-weight: 700;
    font-size: 14px;
}
.featured .slid .box .info .name a{
    color: #444;
}
.featured .slid .box .info .price {
    color: #e12f2f;
    font-weight: 700;
}
.featured .slid .box .info .price .old {
    color: #999;
    text-decoration: line-through;
    font-weight: 400;
}
.featured .slid .box .button-group{
    font-size: 0;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}
.featured .slid .box .button-group button {
    border: none;
    line-height: 45px;
    background-color: #fff;
}
.featured .slid .box .button-group .wishlist-btn {
    font-size: 13px;
}
.featured .slid .box .button-group .add-to-cart {
    width: 61%;
    font-size: 12px;
    color: var(--hover-color);
    font-weight: 700;
}
/* End Featured */

/* Start Information */
.information .container{
    background-color: #49ccf3;
}
.information .box{
    height: 140px;
    color: #fff;
    padding: 22px;
}
.information .box .desc{
    margin: 0 0 0 20px;
}
.information .box .desc .title{
    margin: 0;
    font-weight: 700;
}
.information .box:nth-of-type(2) {
    background-color: #13b5e6;
    position: relative;
}
.information .box:nth-of-type(2)::before,
.information .box:nth-of-type(2)::after{
    content: '';
    position: absolute;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
.information .box:nth-of-type(2)::before {
    border-right: 30px solid #13b5e6;
    left: -30px;
}
.information .box:nth-of-type(2)::after {
    border-left: 30px solid #13b5e6;
    right: -30px;
}
@media (max-width: 767px) {
    .information .box{
        display: block;
        height: auto;
        text-align: center;
    }
    .information .box:nth-of-type(2)::before,
    .information .box:nth-of-type(2)::after{
        display: none;
    }
}
/* End Information */

/* Start Opinion */
.opinion{
    background-attachment: fixed;
    background-image: url(../img/customer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.opinion .slid{
    padding: 100px;
}
.opinion .img img {
    width: 125px;
    height: 125px;
    border: 2px solid #ddd;
}
.opinion .info {
    background: url(../img/customer-bg2.png) no-repeat left 35px top 30px;
    background-color: #000;
    position: relative;
    padding: 30px 0 17px 65px;
    height: 126px;
}
.opinion .info:before {
    border-style: solid;
    border-width: 9px;
    content: "";
    display: block;
    border-color: transparent #000 transparent transparent;
    position: absolute;
    z-index: 1;
    left: -18px;
}
.opinion .info .detail{
    color: #ccc;
    line-height: 22px;
    margin: 0 0 10px 0;
}
.opinion .info .name{
    color: #fff;
}
/* End Opinion */

/* START Categories */
.categories{
    margin: 100px 0;
    background-color: #eee;
}
.categories .col{
    padding: 0 5px;
}
.categories .col .sub{
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.categories .col .sub:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    opacity: 0;
}
.categories .col .sub:hover::before {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}
.categories .col .sub img {
    height: 500px;
    object-fit: cover;
}
.categories .col .sub .list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 145px;
    opacity: 0;
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}
.categories .col .sub:hover .list {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}
.categories .col .sub .list .title {
    font-size: 2.4rem;
    font-weight: 700;
}
.categories .col .sub .list .title span {
    color: #fff;
    padding: 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.categories .col .sub .list ul li {
    line-height: 35px;
}
.categories .col .another img{
    height: 270px;
}
.categories .col .another .list{
    padding-top: 30px;
}
.categories .col .hot{
    padding: 25px 30px;
}
.categories .col .hot .title{
    color: var(--hover-color);
    font-weight: 700;
}
.categories .col .hot .title > span {
    display: inline-block;
    padding: 5px 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.categories .col .hot .desc {
    line-height: 22px;
    font-size: 12px;
    margin: 0 0 25px 0;
}
.categories .col .hot a {
    background-color: var(--hover-color);
    width: 80%;
    line-height: 42px;
}
.categories .right .sub img{
    height: 385px;
}
/* END Categories */

/* Start New Letter */
.newsletter{
    padding: 80px;
    text-align-last: left;
    background-color: #ddd;
}
.newsletter .left .title {
    margin: 0;
}
.newsletter .left a{
    color: var(--hover-color);
}
.newsletter .right form {
    border: 6px solid #beae59;
    position: relative;
}
.newsletter .right form:before {
    content: "\f0e0";
    font-family: "fontawesome";
    position: absolute;
    left: 20px;
    font-size: 30px;
    color: #999;
}
.newsletter .right form input {
    border: none;
    margin: 0 0 0 60px;
}
.newsletter .right form button[type='submit'] {
    width: 120px;
    border: none;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    background-color: #000;
}
/* End New Letter */

/* Start Footer */
.footer{
    position: relative;
    background: url(../img/footer-middle-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(54, 54, 54, 0.50);
}
.footer .top .box {
    padding-top: 3.5rem;
}
.footer .top .title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    position: relative;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.footer .top .title::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #beae59;
}
.footer .top a:before {
    content: "\f0da";
    font-family: "fontawesome";
    margin-right: 5px;
}
.footer .top .special{
    position: relative;
    padding: 3.5rem 2.5rem 2rem 2.5rem;
    background-color: rgba(190, 174, 89, 0.7);
}
.footer .top .special li {
    color: #fff;
    font-size: 12px;
}
.footer .top .special a:before{
    display: none;
}
.footer .top .special i{
    color: #FFF;
    font-size: 20px;
    margin: 0 10px 0 0;
}
.footer .bottom {
    color: #fff;
    position: relative;
    padding: 40px 0 0 0;
    background-color: rgba(54, 54, 54, 0.78);
}
.footer .bottom .row div {
    margin: 10px 0 0 0;
}
.footer .bottom .title {
    color: #fff;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.footer .bottom .left ul li {
    margin: 0 5px;
    display: inline-block;
}
.footer .bottom .left ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    text-align: center;
    background-color: #000;
}
.footer .bottom .copyright{
    font-size: 20px;
}
.footer .bottom .copyright a{
    color: var(--hover-color);
}
@media(max-width: 991px) {
    .footer .top .row div{
        margin: 6px 0;
    }
}
@media (max-width: 767px) {
    .footer .bottom .left ul li a{
        width: 30px;
    }
}
@media (max-width: 576px) {
    .footer .bottom .row div{
        float: none;
        text-align: center;
    }
    .footer .bottom .left ul li a{
        width: 60px;
    }
}

/* End Footer */

/* Start Back To Top */
.back-to-top {
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    background-color: #666;
    border: 4px solid #ddd;
    color: #ddd;
    line-height: 44px;
    text-align: center;
    width: 48px;
    height: 48px;
    z-index: 30;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    opacity: 1;
    right: 20px;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.back-to-top i {
    font-size: 20px;
    margin: 1px 0 0 0 !important;
    color: #ddd;
    display: inline-block;
}
/* End Back To Top */

/* Line 1681 */